
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(145deg, #e579a4, #d5fc48);
}
.container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: relative;
    width: 450px;
    padding: 40px;
    background: #b36666;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(134, 30, 30, 0.4);
}
.container h1{
    position: relative;
    color: #90e04a;
    font-size: 2.6em;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-shadow: 0 5px 10px rgba(33, 24, 24, 0.4);
    text-align: center;
    line-height: 1.2em;
}
.container p{
    color: #7c0000;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 10px;
    text-align: center; 
}
.container .btn{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #006d85b9;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(33, 24, 24, 0.4);
    transition: 0.3s ease-in-out;
}
.container .btn:hover{
    background: #fff;
    color: #b36666;
    box-shadow: 0 5px 15px rgba(158, 157, 157, 0.4);
    transform: translateY(-5px);
    cursor: pointer;
}
.container .btn:active{
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(33, 24, 24, 0.4);
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}